body {
	font-family: arial;
	background-color: #9B50AF;
}

.highlighted {
	background-color: #E17BBA!important;
}

.container {
	width: 300px;	
	background-color: #3BEAB4;
	height: 100px;
	padding: 20px;
	margin: 50px auto ;	
}

#result {
	font-size: 20pt;
	vertical-align: center;
	line-height: 100px;
	text-align: center;
}

button {
	background-color: #F46D63;
	color: white;
	font-weight: bold;
	border:none;
	padding: 5px;
	margin-top: 35px;
	margin-left: 18px;
}